:root {
    --main-color: #d3ad7f;
    --black: #13131A;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;

}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    /*deixa a primeira letra em maiusculo*/
    font-family: "Roboto", sans-serif;
    /*fonte*/
    transition: 0.2s linear;
    /*transição/animação*/
}

body {
    background-color: var(--bg);
    /*background definido no :root*/
}

section {
    padding: 3rem 2rem;
    /*(cima/baixo) (direita/esquerda)*/
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    /*cabeçario fixo*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    /*define quem fica na frende de quem*/
    border-bottom: var(--border);
    background-color: var(--bg);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;

}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 2rem;
    /*cresce*/
}

.icons img {
    margin: 1rem;
    cursor: pointer;
    /*mãozinha do mause muda*/
}

.icons img:hover {
    width: 40px;
    height: 40px;
    color: var()
}


.btn {
    background-color: var(--main-color);
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    /*para respeitar o margin-top*/
}

.btn:hover {
    letter-spacing: 0.1rem;
    /*espaça as letras*/
}

.home-container {
    background-image: url("./img/home-img.jpg");
    background-position: center;
    background-size: cover;
}

.home-container section {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content {
    max-width: 60rem;
}

.content h3 {
    color: #fff;
    font-size: 6rem;
}

.content p {
    color: #fff;
    font-size: 2rem;
    font-weight: 100;
    /*grossura do texto*/
    line-height: 1.8;
    /*espaçamento das linhas*/
    padding: 1rem 0;
}

.title {
    font-size: 5rem;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;

}

.title span {
    color: #fff;
    text-transform: uppercase;

}

.abaut .row {
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 1.5rem;
}

.abaut .row .content {
    padding: 2rem;

}

.abaut .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.abaut .row .content p {
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8;
}

.box-container {
    display: grid;
    /*para organizar automaticamente muitos itens*/
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    /*como vão ser organizados*/
    gap: 1.5rem;
}

.menu .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 5rem;
    cursor: pointer;
}

.menu .box-container .box:hover {
    background-color: #fff;
}

.menu .box-container .box .img {
    height: 1rem;

}

.menu .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: 0.5rem 0;

}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover>* {
    color: var(--black);
}

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box p {
    font-size: 1.5rem;
    color: #fff;
    padding: 2rem 0;
    line-height: 1.8;
    font-weight: lighter;
}

.review .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    margin: 1rem 0;
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

.footer {
    text-align: center;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share img {
    margin: 0.3ren;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}

.address {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer .share img:hover {
    background-color: var(--main-color);
}